.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.25rem;
}

body{
    background-color: rgb(173, 191, 210);
    margin: 0 0 0 0;
}

.nav{
    background-color: rgb(201, 60, 9);
    color: white;
    padding: 0.1rem;
    display: flex;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
}

.logo{
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-left: 1.25rem;
}

.header{
    display:flex; 
    width: 30%; 
    margin-right: 2rem;

}

.snd{
    width: 70%;
    display:flex;
}

.josefin-sans{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    margin-left: 1.25rem;
    color: white;
}

a{
    text-decoration: none;
    align-items: center;
}

.search{
    width: 70%;
    display: flex;
    align-items: center;
    height: 100%;
}


.sharediv{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input::placeholder{
    font-size: 0.938rem;
}

.share{
    width: 100%;
    margin: 10% auto;
    /* margin-left: 10%;
    margin-top: 10%; */
    height: 50%;
    text-align:center;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: white;
    color: rgb(201, 60, 9);
    padding: 1rem;
    border: none;
    font-size: 1rem; 
}



.searchbar{
    font-size: 1.4rem;
    padding: 0.313rem;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    width: 85%;
    border-top-left-radius: 0.938rem;
    border-bottom-left-radius: 0.938rem;
    height: 40%;
}

.search-btn{
    border-top-right-radius: 0.938rem;
    border-bottom-right-radius: 0.938rem;
    width: 15%;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1.25rem;
    font-style: normal;
    color: white;
    background-color: rgb(136, 41, 6);
    border: none;
}

.grid-container {
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.625rem; 
    margin-bottom: 5rem;

}

.main-grid{
    display:flex;
    justify-content: center;
    align-self: center;
}

.item {
    background-color:white;
    padding: 1.5rem;
    text-align: center;
    border-radius: 0.625rem;
    height: 34.375rem;
    animation: fadeInUp 0.2s ease-out forwards;

}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.tastycraft{
    text-decoration: none;
    color: white;
}

.rec-img{
    width: 18.75rem;
    height: 12.5rem;
    object-fit: cover;
    border-radius: 0.625rem;
    position: relative;
}

.recipe{
    width: 90%;
    margin-left: 5%;
    height: 40%;
}

.recipe-title{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 1.9rem;
    height: 10%;
}

.recipe-desc{
    margin-top: 0.625rem;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    height: 90%;
}

.recipe-btn{
    height: 20%;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
    background-color: rgb(201, 60, 9);
    padding: 1rem;
    border: none;
    font-size: 1.25rem;
    letter-spacing: 0.13rem;
    margin-bottom: 0.625rem;
}

@media (max-width: 1054px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
    }
}

@media (max-width: 500px) {
    .grid-container {
        grid-template-columns: 1fr; 
        width: 70%;
    }
}

